@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin 'flowbite/plugin';
@custom-variant dark (&:where(.dark, .dark *));
@source "../node_modules/flowbite-svelte/dist";

@theme {
  --color-primary-50: #fdf4ff;
  --color-primary-100: #fae8ff;
  --color-primary-200: #f5d0fe;
  --color-primary-300: #f0abfc;
  --color-primary-400: #e879f9;
  --color-primary-500: #d946ef;
  --color-primary-600: #c026d3;
  --color-primary-700: #a21caf;
  --color-primary-800: #86198f;
  --color-primary-900: #701a75;
}



body {
    @apply bg-gray-100;
    @apply text-gray-900;
}

label {
    @apply text-gray-500;
    font-size: x-small;
    width: 72px
}

input {
    @apply border border-gray-300;
    @apply rounded-md;
    @apply focus:outline-none;
    @apply focus:border-fuchsia-500;
}

h2 {
    @apply text-2xl;
    @apply font-bold;
    @apply text-gray-700;
}

h1 {
    @apply text-3xl;
    @apply font-bold;
    @apply text-gray-900;
}